<table style="width:100%;height:100%;background-color:#eeeeee">
	<tr>
		<td bgcolor="#EEEEEE">
			<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">
				<tr>
					<td height="10"></td>
				</tr>
				<tr>
					<td>
						<table width="600" height="100" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td bgcolor="white"  align="center" valign="middle" style="font-family:Arial,Helvetica,sans-serif;font-size:15px;">
									<a href="http://rhmundoempleos.com" title="Mundo Empleos" target="_blank">
										<img style="display:block;text-align:center" src="http://rhmundoempleos.com/Content/img/logo.png" alt="Mundo Empleos" width="75" height="45" border="0">
									</a>
								</td>
								<td bgcolor="#303a3c" align="center" valign="middle" 
									style="font-family:Arial,Helvetica,sans-serif;color:#fff;font-size:18px;height:60px;">
									Tus Vencimientos para <strong>{FECHA}</strong>
								</td>
							</tr>
							<tr>
								<td height="10"></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF" height="10"></td>
				</tr>
				<tr>
					<td bgcolor="#FFFFFF" align="center" valign="top" style="font-family:Arial,Helvetica,sans-serif">
						<table width="600" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td width="30">&nbsp;</td>
								<td align="left" valign="top" style="font-family:Arial,Helvetica,sans-serif;color:#555555;font-size:14px">
									<br/>
									<span style="color:#22aae4;font-size:23px">Hola {NOMBRE},</span>
									<br/>
									<br/>
									<table width="540" border="0" cellspacing="0" cellpadding="5" style="border-bottom:1px solid #ffffff">
										<tr>
											<td align="left" valign="middle" height="30" style="font-family:Arial,Helvetica,sans-serif;font-size:14px;background-color:#eeeeee;color:#666666">
												{CONTENIDO}
											</td>
											
										</tr>
									</table>
									
									<br/><br/>
									<div style="border-bottom:#ffffff 1px solid;min-height:1px;line-height:1px;font-size:1px">&nbsp;</div>
							
									
	
									
									
									

								</td>
								<td width="30">&nbsp;</td>
							</tr>
							<tr>
											<td height="10" bgcolor="#ffffff"></td>
										</tr>
							<tr>
								<td colspan="4" align="center" width="100%" style="background:#303a3c;padding:0px;vertical-align:top;">
									
									<table width="100%" style="color:#ffffff;font-family:arial;font-size:12px;border-collapse:collapse;border-top:1px solid #555e61;border-bottom:1px solid #555e61">
										<tr>
											<td align="center"  width="100%" style="padding:10px 10px;vertical-align:top;color:#ffffff;text-decoration:none">
												<a href="http://rhmundoempleos.com/" target="_blank" style="color:white;text-decoration:none;font-size:12pxletter-spacing: 2px;">www.rhmundoempleos.com</a>
											</td>
										</tr>
									</table>
									<table width="100%" style="color:#ffffff;font-family:arial;font-size:12px;border-collapse:collapse;border-bottom:1px solid #000000">
										<tr>
											<td align="center"  style="padding-top:5px;color:#ffffff;white-space:nowrap" valign="middle">
											
												<span style="white-space:nowrap;line-height:30px;display:inline-block">
													<a href="https://www.linkedin.com/company/rhmundoempleos" style="color:white;text-decoration:none;font-size:12px" target="_blank">
														<img border="0" alt="Facebook" title="Facebook" src="http://rhmundoempleos.com/Content/img/iconLinkedin.png" style="vertical-align:middle" width="40" height="40">
													</a>&nbsp;&nbsp;&nbsp;
													<a href="https://www.facebook.com/rhmundoempleos" style="color:white;text-decoration:none;font-size:12px" target="_blank">
														<img border="0" alt="Facebook" title="Facebook" src="http://rhmundoempleos.com/Content/img/iconFacebook.png" style="vertical-align:middle" width="40" height="40">
													</a>&nbsp;&nbsp;&nbsp; 
													<a href="http://twitter.com/rhmundoempleos" style="color:white;text-decoration:none;font-size:12px" target="_blank">
														<img border="0" alt="Twitter" title="Twitter" src="http://rhmundoempleos.com/Content/img/iconTwitter.png" style="vertical-align:middle" width="40" height="40">
													</a>&nbsp;&nbsp;&nbsp; 
												</span>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							
							
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	</tr>
</table>